@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:wght@400;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  overflow-y: hidden;
  background-color: rgb(40, 40, 40);
}
